/*body login master.blade*/
/***
login sayfası
***/
/* bg color */
.login {
    background-color: #364150 !important;
}

.login .logo {
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px;
    text-align: center;
}

.login .content {
    background-color: #eceef1;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width: 400px;
    margin: 40px auto 10px auto;
    padding: 30px;
    padding-top: 10px;
    overflow: hidden;
    position: relative;
}

.login .content h3 {
    color: #4db3a5;
    text-align: center;
    font-size: 28px;
    font-weight: 400 !important;
}