/*body login master.blade*/
/***
login sayfası
***/
/* bg color */
.login {
    background-color: #364150 !important;
}

.login .logo {
    margin: 0 auto;
    margin-top: 60px;
    padding: 5px;
    text-align: center;
}

.login .content {
    background-color: #eceef1;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width: 400px;
    margin: 40px auto 10px auto;
    padding: 30px;
    padding-top: 10px;
    overflow: hidden;
    position: relative;
}

.login .content h3 {
    color: #4db3a5;
    text-align: center;
    font-size: 28px;
    font-weight: 400 !important;
}

.login .content .create-account {
    margin: 0 -40px -40px -40px;
    padding: 15px 0 17px 0;
    text-align: center;
    background-color: #6c7a8d;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -ms-border-radius: 0 0 7px 7px;
    -o-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
}

.login .content .create-account p a {
    font-weight: 600;
    font-size: 14px;
    color: #c3cedd;
}

.login .content .create-account a {
    display: inline-block;
    margin-top: 5px;
}
a:focus, a:hover, a:active {
    outline: 0;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* footer copyright */
.login .copyright {
    text-align: center;
    margin: 0 auto 30px 0;
    padding: 10px;
    color: #7a8ca5;
    font-size: 13px;
}

/*NAV TOP BAR*/
.top-bar {
    background: none repeat scroll 0 0 #364150 !important;
}
.top-bar-section li:not(.has-form) a:not(.button) {
    background: none repeat scroll 0 0 #364150;
    line-height: 2.8125rem;
    padding: 0 0.9375rem;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #364150;
    background: #1f2c39;
    text-decoration: none;
}
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
    color: #FFFFFF;
    background: #67809F; 
}
.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
    color: #FFFFFF;
    background-color: #364150;
    background: #1f2c39; 
}

//CUSTOM BADGE
.badge-default {
    background-color: #d64635;
    background-image: none;
    color: white;  

}
.badge{
    right: 20px;
    top: 10px;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    border-radius: 12px !important;
    font-weight: 300;
    height: 18px;
    padding: 1px 2px;
    text-align: center;
    text-shadow: none !important;
    background-color: #d64635;
}

/*Profile İmage*/
.imgprofile{
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    height: 32px;
    width: 32px;
    border: none;
}

/*Sidebar Menu*/
#sidebar {
    background-color: #364150;
    width: 230px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 45px;
    color: #888;
    font-size: 11px;
}

#sidebar #sidebar-wrapper {
    margin: 0 0 0 9px;
}

#sidebar a,
#sidebar a:active {
    color:#ccc;
}

#sidebar a:hover {
    color:#fff;
}

#sidebar #sidebar-title {
    margin: 40px 0 40px 15px;
}

#sidebar #logo {
    margin: 40px 0 40px 0;
}

#sidebar #profile-links {
    padding: 0 15px 20px 15px;
    text-align: right;
    line-height: 1.5em;
}


#sidebar #main-nav {
    width: 206px;
    padding: 0;
    margin: 0 0 0 15px;
    font-family: Helvetica, Arial, sans-serif;
}

#sidebar #main-nav li {
    list-style: none;
    padding-bottom: 10px;
    text-align: right;
}

#sidebar #main-nav li a.nav-top-item {
    background: transparent url('../images/bg-menu-item-green.gif') right center no-repeat; 
    padding: 10px 15px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}

#sidebar #main-nav li a.current {
    background-image: url('../images/bg-menu-item-current.gif') !important;
    color: #333;
    font-weight: bold;
}

#sidebar #main-nav li a.current:hover {
    color: #333;
}

#sidebar #main-nav ul {
    padding: 0;
    font-size: 12px;
    margin: 0;
}

#sidebar #main-nav ul li {
    list-style: none;
    margin: 0;
    text-align: right;
    padding: 0;
}

#sidebar #main-nav ul li a {
    padding: 8px 15px;
    display: block;
    color: #aaa;
    font-size: 13px;
    line-height: 1.2em;
}

#sidebar #main-nav ul li a:hover,
#sidebar #main-nav ul li a.current,
#sidebar #main-nav ul li a.current:hover {
    color: #fff;
}

#sidebar #main-nav ul li a.current {
    background: transparent url('../images/menu-current-arrow.gif') right center no-repeat !important;
}

/* DIV SPACE */
.divspace{
    padding: 20px;
}

/* Accordion Menu*/
.accordion .accordion-navigation > a, .accordion dd > a {
    background: #364150;
    color: #222222;
    padding: 1rem;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1rem; 
}
.accordion .accordion-navigation > a:hover, .accordion dd > a:hover {
    background: #1f2c39; 
}
.accordion .accordion-navigation > .content.active, .accordion dd > .content.active {
    display: block;
    background: #364150; 
}