<div class="row">
    <div class="large-12 columns">
        <h4 class="subheader"><i class="fa fa-copyright fa-2x"></i>&nbsp;Firma Profili</h4>
    </div>
</div>

<div class="row">
    <h4>Firma Bilgileri</h4>
    <hr>
    <div class="large-8 columns">
        <div class="row">
            <div class="large-6 columns">
                <label>Yetkili Adı <input type="text" ng-model="auth_person" name="auth_person" placeholder="Yetkili Kişi" /> </label> 
            </div>
            <div class="large-6 columns">
                <label>Yetkili Pozisyonu  <input type="text" ng-model="the_auth_to" name="the_auth_to" placeholder="Yetkisi" /> </label> 
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <label>Kuruluş Yılı <input type="text" ng-model="year_of_establishment" name="year_of_establishment" placeholder="Kuruluş Yılı" /> </label>
            </div>
            <div class="large-4 columns">
                <label>Çalışan sayısı <input type="text" ng-model="number_of_employees" name="number_of_employees" placeholder="Çalışan Sayısı" /> </label> 
            </div>
            <div class="large-4 columns">
                <label>Firma Adı <input type="text" ng-model="display_your_name" name="display_your_name" placeholder="Görüntülenecek Adınız"  /> </label>
            </div>
        </div>

        <label>Firma Hakkında&nbsp;&nbsp;<span class="radius secondary label">Firmanızda çalışan personel niteliklerini belirtmeyi unutmayınız. <b>Örn: Bilgisayar mühendisi:4</b></span> 
            <textarea cols="80" rows="10" class="ckeditor"  id="company_about_editor" ng-model="company_about_editor" name="company_about_editor" >
            </textarea>
            <script>
                        CKEDITOR.replace('company_about_editor', {
                            toolbar: [
                                {name: 'document', items: ['Source', '-', 'NewPage', 'Preview', '-', 'Templates']}, // Defines toolbar group with name (used to create voice label) and items in 3 subgroups.
                                ['Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo'], // Defines toolbar group without name.
                                //'/', // Line break - next group will be placed in new line.
                                {name: 'basicstyles', groups: ['basicstyles', 'cleanup'], items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat']},
                                {name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi'], items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl', 'Language']},
                                {name: 'links', items: ['Link', 'Unlink', 'Anchor']},
                                {name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize']},
                                {name: 'colors', items: ['TextColor', 'BGColor']},
                                {name: 'tools', items: ['Maximize', 'ShowBlocks']},
                                {name: 'others', items: ['-']}
                            ]
                        });
            </script>
        </label>
    </div>

    <div class="large-4 columns">
        <form action="{{ action('UsersController@store')}}" method="post" enctype="multipart/form-data"> 
            <div class="panel callout radius">
                <img class="center-image" width="180px" ng-src="{{ resim_adi}}" alt=""/>
                <input type="file" name="image" accept="image/*">
                    <input type="submit" id="upload_image" class="button expand" />Resim Ekle
            </div>
        </form>
    </div>
</div>


<div class="row">
    <div class="divspace"></div>
    <h4>İletişim Bilgileri</h4>
    <hr>
    <div class="large-8 columns">
        <div class="row">
            <div class="large-6 columns" ng-controller="CompanyProfilesController">
                <label>Şehir


                    <!--<select ng-model="correctlySelected">
                      <option value="-1">-- Seçiniz --</option>
                      <option ng-repeat="city in cities track by city.id"
                              value="{{city.id}}">
                        {{city.sehir_adi}}
                      </option> 
                    </select>-->

                    <select ng-model="correctlySelected"
                            ng-options="opt as opt.label for opt in options"
                            ng-selected="correctlySelected">
                        <option value="">-- Seçiniz --</option>
                    </select>


               <!--<select    
                    ng-selected="correctlySelected"
                    ng-change="city.id = correctlySelected.id"
                    ng-options="city.id as city.sehir_adi for city in cities" ng-model="correctlySelected">
                    <option style="display:none" value="">-- Seçiniz --</option>
                </select>-->



            </div>
            <div class="large-6 columns">
                <label>İlçe  <input type="text" ng-model="county" name="county"  placeholder="İlçe" /> </label> 
            </div>
        </div>

        <div class="row">
            <div class="large-6 columns">
                <label>Telefon Numarası  <input type="text" ng-model="phone_number" name="phone_number" placeholder="312 123 45 67" /> </label> 
            </div>
            <div class="large-6 columns">
                <label>Faks Numarası  <input type="text" ng-model="fax_number" name="fax_number" placeholder="312 123 45 67" /> </label> 
            </div>
        </div>
        <label>Adres
            <textarea cols="80" rows="5" ng-model="address" name="address" ></textarea>
        </label>
        <label>E-posta <input type="text" ng-model="email" name="email" placeholder="email" readonly /> </label> 

        <label>Web Sitesi <input type="text" ng-model="web_site" name="web_site" placeholder="Web Siteniz" readonly /> </label> 

    </div>
    <div class="large-4 columns">
        <h4>Şifre İşlemleri</h4>
        <hr>
        <a href="#" ng-click="open_model();" data-reveal-id="passModal" class="button alert expand">Şifre Değiştir</a>
    </div>
</div>

<div class="row">
    <div class="large-8 columns">
        <input type="button" ng-click="submit_me()" value="Düzenle" class="button success right" />
    </div>
</div>


<!-- ###### Modal Oluştur ###### -->
<div id="passModal" class="reveal-modal medium" data-reveal>
    <h4>Şifre İşlemleri</h4>
    <hr>
    <div class="large-12 columns">

        <div class="password-field">
            <label>Şifre <small>*</small>
                <input type="password" ng-model="new_password" id="password" class="form-control" name="password">
            </label>
        </div>

        <div class="password-confirmation-field">
            <label>Şifre (tekrar)<small>*</small>
                <input type="password" class="form-control" name="password_confirmation" data-equalto="password">
            </label>
        </div>
        <button type="submit" ng-click="change_password();" class="radius button right">Düzenle</button>
    </div>
</div>