<div class="row">
    <div class="large-12 columns">
        <h4 class="subheader"><i class="fa fa-bars fa-2x"></i>&nbsp;{{ tipi }} Listesi</h4>
    </div>
</div>

<div class="row">
    <div class="large-12">
        <fieldset>
            <legend>Liste</legend>
            <form>
                <div class="row">
                    <div class="small-4 columns left">


                        <a href="#" id="addNewPost" class="button tiny radius orangeButtonColor">Yeni {{ tipi }}</a>

                        <!--<a href="#" ng-click="add_new_post()" class="button tiny radius orangeButtonColor">Yeni {{ tipi }}</a>-->

                        

                    </div>
                    <div class="small-4 columns right">
                        <div class="row">
                            <div class="small-3 columns">
                                <label for="right-label" class="right inline">Ara:</label>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" ng-model="aramaKutusu" id="right-label" placeholder="Arama Parametresi" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <table>
                <thead>
                    <tr>

                        <th width="10%">Başlık</th>
                        <th width="10%">İçerik</th>
                        <th width="10%">Gönderen Kullanıcı</th>
                        <th width="25%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="post in posts | filter:aramaKutusu | itemsPerPage:3">

                        <td>{{ post.baslik }}</td>
                        <td>{{ post.icerik }}</td>
                        <td>{{ post.gonderen_kisi }}</td>

                        <td class="button-group">
                           
                                <!--<li><a href="/academician/profile/{{academician.id}}" class="button tiny radius orangeButtonColor">Düzenle</a></li>-->
                                    <!--<a href="#" data-reveal-id="deleteUserModal">Click Me For A Modal</a>-->

                                    <a href="#" ng-click="delete_post(post.id)" class="button tiny radius alert right">Sil</a>                            
                               
                                    <a href="#" ng-click="change_post_status(post.id, post.okundu)" class="button tiny radius success right">

                                        <span ng-switch="post.okundu">
                                          <span ng-switch-when="0">Okundu Olarak İşaretle</span>
                                          <span ng-switch-when="1">Okunmadı Olarak İşaretle</span>
                                        </span>
                                    </a>
                                
                         
                        </td>
                    </tr>
                </tbody>
            </table>



            <dir-pagination-controls
                [max-size=""]
                [direction-links=""]
                [boundary-links=""]
                [on-page-change=""]
                [pagination-id=""]
                [template-url="/js/directives/angular-utils-pagination/dirPagination.tpl.html"]>
        </dir-pagination-controls>

    </fieldset>
</div>
</div>


<div id="addNewPostModal" class="reveal-modal medium" data-reveal>
    <h4>Yeni {{ tipi }} Ekle</h4>
    <hr>
   
    <div class="row">
         
            <div class="row">
                <div class="large-12 columns">
                     <label>Başlık <input type="text" placeholder="Gönderi Başlık" ng-model="baslik" /> </label>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <label>İçerik 
                        <textarea ng-model="icerik" placeholder="Mesaj..."></textarea>
                    </label>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <div ng-if="tipi == 'Mesaj ' ">
                            <select
                                ng-model="user" 
                                ng-change="change(user)"
                                ng-options="user.email 
                                for user in users track by user.id"> 
                                 <option value="">-- Seçiniz --</option>
                            </select>
                    </div>


                    <div ng-if="tipi == 'Bildiri ' ">
                        <label>Grup Seçiniz
                            <select id="grup_secimi">
                                <option value="1">Yönetici</option>
                                <option value="2">Akademisyen</option>
                                <option value="3">Firma</option>
                                <option value="4">Öğrenci</option>
                            </select>
                      </label>
                    </div>

                </div>
            </div>

            <br/>
    
            <div class="row">
                <div class="large-12 columns">
                    <button class="radius button right" ng-click="add_new_post(tipi)">Gönder</button>
                </div>
            </div>
    </div>
</div>



<div id="deleteUserModal" class="reveal-modal medium" data-reveal aria-hidden="true" role="dialog">
    <h4>Silme İşlemi</h4>
    <hr>
    <div class="large-12 columns">
        <label>Kullanıcıyı silmek istediğinizden emin misiniz?<small>*</small>
        </label>
    </div>

    <div class="large-12 columns">
        <button class="radius button right">Sil</button>
        <a class='close'>Close modal</a>
    </div>
</div>



<script type="text/javascript">
    
    $('#addNewPost').on('click', function() {
        $('#addNewPostModal').foundation('reveal','open');
    });

</script>