<form ng-submit="add_new_student()">
    <div class="row">
        <div class="large-12 columns">
            <h4 class="subheader"><i class="fa fa-copyright fa-2x"></i>&nbsp;Öğrenci Ekle</h4>
        </div>
    </div>

     <div class="row">
        <h4>Kişisel Bilgiler</h4>
        <hr>
        <div class="large-8 columns">
            <label>Ad <input type="text" ng-model="first_name" placeholder="Adınız" /> </label> 
            <label>Soyad <input type="text" ng-model="last_name" placeholder="Soyadınız" /> </label> 
            <label>Kullanıcı Adı <input type="text" ng-model="username" placeholder="Kullanıcı Adınız" /> </label> 
            <label>Herkes Tarafından Görünecek Ad <input type="text" ng-model="display_name" placeholder="Görüntülenecek Adınız" value=""  /> </label>
        </div>

        <div class="large-4 columns">
            <!--<div class="panel callout radius">
                <img class="center-image" src="/images/default_us_photo.jpg" alt=""/>
                <a href="#" class="button expand">Resim Ekle</a>
            </div>   -->
        </div>

    </div>


    <div class="row">
        <h4>İletişim Bilgisi</h4>
        <hr>
        <div class="large-8 columns">
            <label>E-posta <input type="text" placeholder="E-posta" ng-model="email" /> </label> 
            <label>İnternet Sitesi&nbsp;&nbsp;<span class="radius secondary label">Web adresinizin başına <b>http://</b> veya <b>https://</b> yazmayı unutmayınız</span> <input type="text" placeholder="http://www.websiteadresiniz.com" ng-model="website" /> </label>

        </div>
    </div>

    <div class="row">
        <div class="large-8 columns">
            <h4>Şifre İşlemleri</h4>
            <hr>
            <div class="large-8 columns">
                <label>Yeni Şifre <input type="password"  ng-model="password" placeholder="Şifre" /> </label> 
                <label>Yeni Şifre Tekrar <input type="password" ng-model="password_again" placeholder="Şifre Tekrar" /> </label>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-8 columns">
            <input type="submit" id="submit" value="Kaydet" class="button success right" />

            <!--<a href="#" class="button success right">Kaydet</a>-->
        </div>
    </div>
</form>