<div class="row">
    <div class="large-12 columns">
        <h4 class="subheader"><i class="fa fa-bars fa-2x"></i>&nbsp;Onaylanan Kullanıcı Listesi</h4>
    </div>
</div>

<div class="row">
    <div class="large-12">
        <fieldset>
            <legend>Liste</legend>
            <form>
                <div class="row">
                    <div class="small-4 columns right">
                        <div class="row">
                            <div class="small-3 columns">
                                <label for="right-label" class="right inline">Ara:</label>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" ng-model="aramaKutusu" id="right-label" placeholder="Arama Parametresi" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <table>
                <thead>
                    <tr>
                        <th width="10%">Adı Soyadı</th>
                        <th width="10%">Kullanıcı Adı</th>
                        <th width="15%">Görünen Ad</th>
                        <th width="10%">Rol</th>
                        <th width="10%">Son Giriş Tarihi</th>
                        <th width="10%">E-Posta</th>
                        <th width="10%">Aktif / Pasif</th>
                        <th width="10%">Yönetici Onayı</th>
                        <th width="25%">İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="onayli in onaylanmislar | filter:aramaKutusu | itemsPerPage:3">
                        <td>{{ onayli.first_name}} {{ onayli.last_name}}</td>
                        <td>{{ onayli.username}}</td>
                        <td>{{ onayli.display_name}}</td>
                        <td>Yönetici</td>
                        <td>{{ onayli.last_login}}</td>
                        <td>{{ onayli.email}}</td>
                        <td>{{ onayli.activated}}</td>
                        <td>{{ onayli.yonetici_onayi}}</td>
                        <td>
                            <ul class="button-group">
                                <li>
                                    <button class="button" id="exampleCheckboxSwitch_{{ onayli.id}}" ng-click="onayi_kaldir(onayli)">Onayı Kaldır</button>
                                </li>
                            </ul>
                        </td>
                    </tr>

                </tbody>
            </table>
            <dir-pagination-controls
                [max-size=""]
                [direction-links=""]
                [boundary-links=""]
                [on-page-change=""]
                [pagination-id=""]
                [template-url="/js/directives/angular-utils-pagination/dirPagination.tpl.html"]>
        </dir-pagination-controls>
    </fieldset>
</div>
</div>
