<div class="row">
    <div class="large-12 columns">
        <h4 class="subheader"><i class="fa fa-bars fa-2x"></i>&nbsp;Onay Bekleyen Kullanıcı Listesi</h4>
    </div>
</div>

<div class="row">
    <div class="large-12">
        <fieldset>
            <legend>Liste</legend>
            <form>
                <div class="row">
                    <div class="small-4 columns right">
                        <div class="row">
                            <div class="small-3 columns">
                                <label for="right-label" class="right inline">Ara:</label>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" ng-model="aramaKutusu" id="right-label" placeholder="Arama Parametresi" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <table>
                <thead>
                    <tr>
                        <!--<th width="5%">Sıra</th>-->
                        <th width="10%">Adı Soyadı</th>
                        <th width="10%">Kullanıcı Adı</th>
                        <th width="15%">Görünen Ad</th>
                        <th width="10%">Rol</th>
                        <th width="20%">Son Giriş Tarihi</th>
                        <th width="10%">E-Posta</th>
                        <th width="10%">Aktif / Pasif</th>
                        <th width="10%">Yönetici Onayı</th>
                        <th width="5%">İşlemler</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="onaysiz in onaylanmamislar| filter:aramaKutusu">
                        <!--<td>{{ $index + 1}}</td>-->
                        <td>{{ onaysiz.first_name}} {{ onaysiz.last_name}}</td>
                        <td>{{ onaysiz.username}}</td>
                        <td>{{ onaysiz.display_name}}</td>
                        <!--<td>{{ onaysiz.group_id}} </td>-->
                        <td>
                        <div ng-if="onaysiz.group_id==1">Yönetici</div> 
                        <div ng-if="onaysiz.group_id==2">Akademisyen</div>
                        <div ng-if="onaysiz.group_id==3">Firma</div>
                        <div ng-if="onaysiz.group_id==4">Öğrenci</div>
                        </td>
                        <td>{{ onaysiz.last_login}}</td>
                        <td>{{ onaysiz.email}}</td>
                        <td>{{ onaysiz.activated}}</td>
                        <td>{{ onaysiz.yonetici_onayi}}</td> 
                        <td>
                            <ul class="button-group">
                                <li>
                                    <button id="btn_{{ onaysiz.id}}" ng-click="onay_ver(onaysiz)">Onay Ver</button>

                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</div>
