<div class="row">
    <div class="large-12 columns">
        <h4 class="subheader"><i class="fa fa-users fa-2x"></i>&nbsp;Profil</h4>
    </div>
</div>

<div class="row">
    <h4>Kişisel Bilgiler</h4>
    <hr>
    <div class="large-8 columns">
        <label>Ad <input type="text" ng-model="first_name" name="first_name" placeholder="Adınız" /> </label> 
        <label>Soyad <input type="text" ng-model="last_name" name="last_name" placeholder="Soyadınız" /> </label> 
        <label>Kullanıcı Adı <input type="text" ng-model="username" name="username" placeholder="Kullanıcı Adınız" /> </label> 
        <label>Herkes Tarafından Görünecek Ad <input type="text" ng-model="display_name" placeholder="Görüntülenecek Adınız"  /> </label>
    </div>

    <div class="large-4 columns">
        <form action="{{ action('UsersController@store')}}" method="post" enctype="multipart/form-data"> 
            <div class="panel callout radius">
                <img class="center-image" width="180px" ng-src="{{ resim_adi}}" alt=""/>
                <input type="file" name="image" accept="image/*" />
                <input type="submit" id="upload_image" class="button expand" />Resim Ekle
            </div>
        </form>
    </div>
</div>


<div class="row">
    <h4>İletişim Bilgisi</h4>
    <hr>
    <div class="large-8 columns">
        <label>E-posta <input type="text" ng-model="email" placeholder="email" /> </label> 
        <label>İnternet Sitesi&nbsp;&nbsp;<span class="radius secondary label">Web adresinizin başına <b>http://</b> veya <b>https://</b> yazmayı unutmayınız</span> 
            <input type="text" ng-model="website" placeholder="Web Siteniz" /> 
        </label>
    </div>
    <div class="large-4 columns">
        <h4>Şifre İşlemleri</h4>
        <hr>
        <a href="#" ng-click="open_model();" data-reveal-id="passModal" class="button alert expand">Şifre Değiştir</a>
    </div>
</div>
<div class="row">
    <div class="large-8 columns">
        <input type="button" ng-click="submit_me()" value="Düzenle" class="button success right" />
    </div>
</div>

<div id="passModal" class="reveal-modal medium" data-reveal>
    <h4>Şifre İşlemleri</h4>
    <hr>
    <div class="large-12 columns">

        <div class="password-field">
            <label>Şifre <small>*</small>
                <input type="password" ng-model="new_password" id="password" class="form-control" name="password">
            </label>
        </div>

        <div class="password-confirmation-field">
            <label>Şifre (tekrar)<small>*</small>
                <input type="password" class="form-control" name="password_confirmation" data-equalto="password">
            </label>
        </div>
        <button type="submit" ng-click="change_password();" class="radius button right">Düzenle</button>
    </div>
</div>