<div class="row">
    <div class="large-12 columns">
        <h4 class="subheader"><i class="fa fa-bars fa-2x"></i>&nbsp;Yönetici Listesi</h4>
    </div>
</div>

<div class="row">
    <div class="large-12">
        <fieldset>
            <legend>Liste</legend>
            <form>
                <div class="row">
                    <div class="small-4 columns right">
                        <div class="row">
                            <div class="small-3 columns">
                                <label for="right-label" class="right inline">Ara:</label>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" id="right-label" placeholder="Arama Parametresi" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <table>
                <thead>
                    <tr>
                        <th width="250">Adı Soyadı</th>
                        <th width="250">Kullanıcı Adı</th>
                        <th width="200">Görünen Ad</th>
                        <th width="200">Rol</th>
                        <th width="200">Son Giriş Tarihi</th>
                        <th width="200">E-Posta</th>
                        <th width="200">Aktif / Pasif</th>
                        <th width="300">İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Adı Soyadi İçerik</td>
                        <td>Kullanıcı Adı İçerik</td>
                        <td>Görünen Ad İçerik</td>
                        <td>Yönetici</td>
                        <td>Son Giriş Tarihi İçerik</td>
                        <td>E-Posta İçerik</td>
                        <td>Aktif</td>
                        <td>
                            <ul class="button-group">
                                <li><a href="#" class="button tiny radius orangeButtonColor">Düzenle</a></li>
                                <li><a href="#" class="button tiny radius alert">Sil</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Adı Soyadi İçerik</td>
                        <td>Kullanıcı Adı İçerik</td>
                        <td>Görünen Ad İçerik</td>
                        <td>Yönetici</td>
                        <td>Son Giriş Tarihi İçerik</td>
                        <td>E-Posta İçerik</td>
                        <td>Aktif</td>
                        <td>
                            <ul class="button-group">
                                <li><a href="#" class="button tiny radius orangeButtonColor">Düzenle</a></li>
                                <li><a href="#" class="button tiny radius alert">Sil</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Adı Soyadi İçerik</td>
                        <td>Kullanıcı Adı İçerik</td>
                        <td>Görünen Ad İçerik</td>
                        <td>Yönetici</td>
                        <td>Son Giriş Tarihi İçerik</td>
                        <td>E-Posta İçerik</td>
                        <td>Aktif</td>
                        <td>
                            <ul class="button-group">
                                <li><a href="#" class="button tiny radius orangeButtonColor">Düzenle</a></li>
                                <li><a href="#" class="button tiny radius alert">Sil</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Adı Soyadi İçerik</td>
                        <td>Kullanıcı Adı İçerik</td>
                        <td>Görünen Ad İçerik</td>
                        <td>Yönetici</td>
                        <td>Son Giriş Tarihi İçerik</td>
                        <td>E-Posta İçerik</td>
                        <td>Aktif</td>
                        <td>
                            <ul class="button-group">
                                <li><a href="#" class="button tiny radius orangeButtonColor">Düzenle</a></li>
                                <li><a href="#" class="button tiny radius alert">Sil</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Adı Soyadi İçerik</td>
                        <td>Kullanıcı Adı İçerik</td>
                        <td>Görünen Ad İçerik</td>
                        <td>Yönetici</td>
                        <td>Son Giriş Tarihi İçerik</td>
                        <td>E-Posta İçerik</td>
                        <td>Aktif</td>
                        <td>
                            <ul class="button-group">
                                <li><a href="#" class="button tiny radius orangeButtonColor">Düzenle</a></li>
                                <li><a href="#" class="button tiny radius alert">Sil</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Adı Soyadi İçerik</td>
                        <td>Kullanıcı Adı İçerik</td>
                        <td>Görünen Ad İçerik</td>
                        <td>Yönetici</td>
                        <td>Son Giriş Tarihi İçerik</td>
                        <td>E-Posta İçerik</td>
                        <td>Aktif</td>
                        <td>
                            <ul class="button-group">
                                <li><a href="#" class="button tiny radius orangeButtonColor">Düzenle</a></li>
                                <li><a href="#" class="button tiny radius alert">Sil</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Adı Soyadi İçerik</td>
                        <td>Kullanıcı Adı İçerik</td>
                        <td>Görünen Ad İçerik</td>
                        <td>Yönetici</td>
                        <td>Son Giriş Tarihi İçerik</td>
                        <td>E-Posta İçerik</td>
                        <td>Aktif</td>
                        <td>
                            <ul class="button-group">
                                <li><a href="#" class="button tiny radius orangeButtonColor">Düzenle</a></li>
                                <li><a href="#" class="button tiny radius alert">Sil</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Adı Soyadi İçerik</td>
                        <td>Kullanıcı Adı İçerik</td>
                        <td>Görünen Ad İçerik</td>
                        <td>Yönetici</td>
                        <td>Son Giriş Tarihi İçerik</td>
                        <td>E-Posta İçerik</td>
                        <td>Aktif</td>
                        <td>
                            <ul class="button-group">
                                <li><a href="#" class="button tiny radius orangeButtonColor">Düzenle</a></li>
                                <li><a href="#" class="button tiny radius alert">Sil</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Adı Soyadi İçerik</td>
                        <td>Kullanıcı Adı İçerik</td>
                        <td>Görünen Ad İçerik</td>
                        <td>Yönetici</td>
                        <td>Son Giriş Tarihi İçerik</td>
                        <td>E-Posta İçerik</td>
                        <td>Aktif</td>
                        <td>
                            <ul class="button-group">
                                <li><a href="#" class="button tiny radius orangeButtonColor">Düzenle</a></li>
                                <li><a href="#" class="button tiny radius alert">Sil</a></li>
                            </ul>
                        </td>
                    </tr>   
                    <tr>
                        <td>Adı Soyadi İçerik</td>
                        <td>Kullanıcı Adı İçerik</td>
                        <td>Görünen Ad İçerik</td>
                        <td>Yönetici</td>
                        <td>Son Giriş Tarihi İçerik</td>
                        <td>E-Posta İçerik</td>
                        <td>Aktif</td>
                        <td>
                            <ul class="button-group">
                                <li><a href="#" class="button tiny radius orangeButtonColor">Düzenle</a></li>
                                <li><a href="#" class="button tiny radius alert">Sil</a></li>
                            </ul>
                        </td>
                    </tr> 
                    <tr>
                        <td>Adı Soyadi İçerik</td>
                        <td>Kullanıcı Adı İçerik</td>
                        <td>Görünen Ad İçerik</td>
                        <td>Yönetici</td>
                        <td>Son Giriş Tarihi İçerik</td>
                        <td>E-Posta İçerik</td>
                        <td>Aktif</td>
                        <td>
                            <ul class="button-group">
                                <li><a href="#" class="button tiny radius orangeButtonColor">Düzenle</a></li>
                                <li><a href="#" class="button tiny radius alert">Sil</a></li>
                            </ul>
                        </td>
                    </tr> 
                </tbody>
            </table>

            <div class="row">
                <div class="small-6 columns right">
                    <ul class="pagination" role="menubar" aria-label="Pagination">
                        <li class="arrow unavailable" aria-disabled="true"><a href="">&laquo; Önceki</a></li>
                        <li class="current"><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li class="unavailable" aria-disabled="true"><a href="">&hellip;</a></li>
                        <li><a href="">12</a></li>
                        <li><a href="">13</a></li>
                        <li class="arrow"><a href="">Sonraki &raquo;</a></li>
                    </ul>
                </div>
            </div>
        </fieldset>
    </div>
</div>